<div class="todo-panel-container">
  <div class="todo-panel">
    <h3>Todos: <small>{{todoCtrl.todoItems.length}}</small></h3>
    <ul class="todo-list-items-container">
      <li ng-repeat="item in todoCtrl.items" ng-class="{'is-complete': item.isComplete}" class="todo-list-item" ng-click="todoCtrl.changeStatus(item)">
        <input type="checkbox" ng-bind="item.isComplete" ng-checked="item.isComplete" />
        <span class="todo-list-item-title">{{item.title}}</span>
        <time>{{item._updated}}</time>
      </li>
    </ul>
  </div>
</div>